{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container my-3">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'samosa.jpg' %}" class="d-block w-100 carousel-image" alt="Samosa 1"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'samosa1.jpg' %}" class="d-block w-100 carousel-image" alt="Samosa 2"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'samosa2.jpg' %}" class="d-block w-100 carousel-image" alt="Samosa 3"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2 class='text-center my-4'>SELECT FROM A RANGE OF SAMOSAS</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://images.pexels.com/photos/212165/pexels-photo-212165.jpeg" alt="Thumbnail 1" style="height: 225px; width: 100%; display: block"/>
        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://images.pexels.com/photos/271171/pexels-photo-271171.jpeg" alt="Thumbnail 2" style="height: 225px; width: 100%; display: block"/>
        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="https://images.pexels.com/photos/3408746/pexels-photo-3408746.jpeg" alt="Thumbnail 3" style="height: 225px; width: 100%; display: block"/>
        <div class="card-body">
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
